parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    plaid_api_endpoint: 'https://tartan.plaid.com/'
    plaid_client_id:    ~
    plaid_secret:       ~

    google_client_id:       ~
    google_client_secret:   ~
    google_developer_key:   ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          false
    debug_redirects:        false
    use_assetic_controller: true
