<?php
use Barany\Core\AppConfig;

class Config extends AppConfig {
    public function getPlaidApiEndpoint() {
        return 'https://tartan.plaid.com/';
    }

    public function getPlaidApiClientId() {
        return 'test_id';
    }

    public function getPlaidApiSecret() {
        return 'test_secret';
    }

    public function getDatabaseCredentials()
    {
        return [
            'driver'   => 'pdo_mysql',
            'user'     => 'user',
            'password' => 'password',
            'dbname'   => 'plaid_database',
        ];
    }
}
