<?php
use Barany\Core\AppConfig;

class Config extends AppConfig {
    public function getPlaidApiEndpoint() {
        return 'https://tartan.plaid.com/';
    }

    public function getPlaidApiCredentials() {
        return array(
            'client_id' => '',
            'secret' => '',
        );
    }

    public function getDatabaseCredentials()
    {
        return [
            'driver' => 'pdo_mysql',
            'user' => '',
            'password' => '',
            'dbname' => '',
        ];
    }

    public function getGoogleCredentials()
    {
        return [
            'client_id' => '',
            'client_secret' => '',
            'developer_key' => '',
        ];
    }
}
